@media (max-width: 768px) {
    /*estilos para el index*/
    p{
        font-size: 1.5em;
    }
   .productos {
    a{
        font-size: 1.5em;
        }
    }
    .section-principal {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
        "foto"
        "video"
        "texto";
        .foto-mate{
            flex-direction: column;
            div{
                text-align: center;
                font-size: 18px;
                padding-left: 4%;
                padding-top: 5%;
            }
            img{
                width: 45%;
                align-self: center;
                padding: 10px;
            background-color: #1a1a1a;
            border-radius: 10px;
        }
        }
        .video-mateando{
            padding: 5%;
           
        }
    }
/*estilos para la pagina de productos*/
    .productos {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas: 
        "producto-1"
        "producto-2"
        "producto-3"
        "producto-4"
        "producto-5"
        "producto-6";
    }

    .titulo {
        font-size: 25px;
    }
    /*estilo para la pagina sobre-nosotros*/
    .about-us {
        gap: 15px; 
        .sobre-nosotros-img  {
            img{
                width: 80%; 
            }
            }
            .sobre-nosotros-texto {
                max-width: 98%; 
            }
    }

    
}