* {
  margin: 0px;
  padding: 0px;
}

/* todo esto le da estilos a el index*/
.titulo {
  text-align: center;
  font-size: 35px;
  /*
  margin-top: 15px;
  margin-bottom: 20px;
  */
  margin: 18px;
}

.section-principal {
  margin: 15px;
  display: grid;
  grid-template-columns: repeat(3 1fr);
  grid-template-rows: repeat(2 1fr);
  grid-template-areas: "foto foto video" "texto texto  .";
  gap: 25px;
}
.section-principal .video-mateando {
  grid-area: video;
  background-color: #F1D94F;
  padding: 15px;
  border-radius: 8px;
}
.section-principal .video-mateando video {
  width: 100%;
  height: 100%;
}
.section-principal .foto-mate {
  grid-area: foto;
  background-color: #F1D94F;
  padding: 30px;
  border-radius: 8px;
  color: #1a1a1a;
  display: flex;
}
.section-principal .foto-mate img {
  width: 55%;
}
.section-principal .foto-mate div {
  text-align: start;
  font-size: 18px;
  padding-left: 4%;
  padding-top: 5%;
}
.section-principal .sobre-nosotros {
  grid-area: texto;
  background-color: #F1D94F;
  border-radius: 8px;
  text-align: center;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  color: #1a1a1a;
  font-size: 20px;
}

/* comiezo de estilos de la pagina productos*/
.productos {
  margin: 15px;
  color: #1a1a1a;
  font-size: 17px;
  display: grid;
  grid-template-columns: repeat(3 1fr);
  grid-template-rows: repeat(2 1fr);
  grid-template-areas: "producto-1 producto-2 producto-3" "producto-4 producto-5 producto-6";
  gap: 30px;
}
.productos .producto-01 {
  grid-area: producto-1;
  background-color: #F1D94F;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  /* a{ 
      align-self: center;
      color: $color-negro;
      background-color: aquamarine;
      padding: 10px 8px;
      border-radius: 5px;
      margin-top: 10px;
      margin-bottom: 10px;
      text-decoration: none;

      &:hover {
          background-color:#808080;
      }

  }*/
}
.productos .producto-01 img {
  width: 53%;
  align-self: center;
  padding: 15px;
}
.productos .producto-01 p {
  align-self: center;
  align-content: center;
}
.productos .producto-02 {
  background-color: #F1D94F;
  grid-area: producto-2;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  /* a{ 
      align-self: center;
      color: $color-negro;
      background-color: aquamarine;
      padding: 10px 8px;
      border-radius: 5px;
      margin-top: 10px;
      margin-bottom: 10px;
      text-decoration: none;

      &:hover {
          background-color:#808080;
      }

  }*/
}
.productos .producto-02 img {
  width: 53%;
  align-self: center;
  padding: 15px;
}
.productos .producto-02 p {
  align-self: center;
  align-content: center;
}
.productos .producto-03 {
  background-color: #F1D94F;
  grid-area: producto-3;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  /* a{ 
      align-self: center;
      color: $color-negro;
      background-color: aquamarine;
      padding: 10px 8px;
      border-radius: 5px;
      margin-top: 10px;
      margin-bottom: 10px;
      text-decoration: none;

      &:hover {
          background-color:#808080;
      }

  }*/
}
.productos .producto-03 img {
  width: 53%;
  align-self: center;
  padding: 15px;
}
.productos .producto-03 p {
  align-self: center;
  align-content: center;
}
.productos .producto-04 {
  background-color: #F1D94F;
  grid-area: producto-4;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  /* a{ 
      align-self: center;
      color: $color-negro;
      background-color: aquamarine;
      padding: 10px 8px;
      border-radius: 5px;
      margin-top: 10px;
      margin-bottom: 10px;
      text-decoration: none;

      &:hover {
          background-color:#808080;
      }

  }*/
}
.productos .producto-04 img {
  width: 53%;
  align-self: center;
  padding: 15px;
}
.productos .producto-04 p {
  align-self: center;
  align-content: center;
}
.productos .producto-05 {
  background-color: #F1D94F;
  grid-area: producto-5;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  /* a{ 
      align-self: center;
      color: $color-negro;
      background-color: aquamarine;
      padding: 10px 8px;
      border-radius: 5px;
      margin-top: 10px;
      margin-bottom: 10px;
      text-decoration: none;

      &:hover {
          background-color:#808080;
      }

  }*/
}
.productos .producto-05 img {
  width: 53%;
  align-self: center;
  padding: 15px;
}
.productos .producto-05 p {
  align-self: center;
  align-content: center;
}
.productos .producto-06 {
  background-color: #F1D94F;
  grid-area: producto-6;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  /* a{ 
       align-self: center;
       color: $color-negro;
       background-color: aquamarine;
       padding: 10px 8px;
       border-radius: 5px;
       margin-top: 10px;
       margin-bottom: 10px;
       text-decoration: none;

       &:hover {
           background-color:#808080;
       }

   }*/
}
.productos .producto-06 img {
  width: 53%;
  align-self: center;
  padding: 15px;
}
.productos .producto-06 p {
  align-self: center;
  align-content: center;
}

/*estilos de la pagina nosotros*/
.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin: 20px;
}
.about-us .sobre-nosotros-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  width: 100%;
}
.about-us .sobre-nosotros-img img {
  max-width: 300px;
  height: auto;
  border-radius: 8px;
}
.about-us .sobre-nosotros-texto {
  background-color: #F1D94F;
  color: #1a1a1a;
  margin: 15px;
  padding: 20px 15px;
  border-radius: 8px;
  text-align: center;
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
}

/*estilos de la pagina de contacto*/
.contacto-container {
  background-color: #24bbb1;
  padding: 30px;
  border-radius: 8px;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
}
.contacto-container form {
  display: block;
}
.contacto-container form label {
  display: block;
  margin: 10px 10px 5px 0;
  font-size: 18px;
}
.contacto-container form input, .contacto-container form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.contacto-container form button {
  padding: 10px 20px;
  background-color: #F1D94F;
  color: #1a1a1a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.contacto-container form button:hover {
  background-color: #e6c64b;
}

/*estilos para la pagina crea tu cuenta*/
.crear-cuenta-container {
  background-color: #808080;
  padding: 30px;
  border-radius: 8px;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
}
.crear-cuenta-container form {
  display: block;
}
.crear-cuenta-container form label {
  display: block;
  margin: 10px 10px 5px 0;
  font-size: 18px;
}
.crear-cuenta-container form input, .crear-cuenta-container form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.crear-cuenta-container form button {
  padding: 10px 20px;
  background-color: #F1D94F;
  color: #1a1a1a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.crear-cuenta-container form button:hover {
  background-color: #e6c64b;
}

/*Media Queries para laptop*/
@media (min-width: 1024px) {
  /*estilos de pagina de productos*/
  .productos p {
    font-size: 1.1em;
  }
  .productos a {
    font-size: 1.1em;
  }
  /*estilos de pagina index*/
  .foto-mate img {
    width: 55%;
    height: 75%;
    align-self: center;
    padding: 10px;
    background-color: #1a1a1a;
    border-radius: 10px;
  }
  .foto-mate p {
    align-self: center;
  }
  /*estilos de pagina sobre-nosotros*/
  .about-us {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }
  .about-us .sobre-nosotros-img {
    width: 30%;
  }
  .about-us .sobre-nosotros-img img {
    max-width: 100%;
  }
  .about-us .sobre-nosotros-texto {
    width: 50%;
    text-align: left;
    max-width: none;
  }
  /*estilos para los productosd de 01 a 06*/
  p {
    font-size: 1.5em;
  }
}
@media (min-width: 1440px) {
  /*estilos de pagina de productos*/
  .productos p {
    font-size: 1.1em;
  }
  .productos a {
    font-size: 1.1em;
  }
  /*estilos de pagina index*/
  .foto-mate img img {
    width: 65%;
    height: 85%;
    align-self: center;
    padding: 10px;
    background-color: #1a1a1a;
    border-radius: 10px;
  }
  .foto-mate img p {
    align-self: center;
    font-size: 1.2em;
  }
  /*estilos para los productosd de 01 a 06*/
  p {
    font-size: 1.5em;
  }
}
@media (max-width: 480px) {
  footer {
    display: flex;
    flex-direction: column;
  }
  p {
    font-size: 1em;
  }
  /*estilos para la pagina de productos*/
  .productos {
    gap: 15px;
  }
  .productos a {
    font-size: 1em;
  }
  /*estilos para el index*/
  .section-principal {
    gap: 15px;
  }
  .section-principal .foto-mate img {
    width: 55%;
    padding: 10px;
    background-color: #1a1a1a;
    border-radius: 10px;
  }
  .section-principal .foto-mate p {
    font-size: 0.9em;
  }
  .section-principal .video-mateando {
    width: 90%;
  }
  .section-principal .sobre-nosotros .parrafo-about-us {
    font-size: 0.9em;
  }
  /*estilos para la pagina sobre-nosotros*/
  .about-us {
    gap: 15px;
  }
  .about-us .sobre-nosotros-img {
    width: 100%;
  }
  .about-us .sobre-nosotros-img img {
    width: 90%;
    max-width: 280px;
    height: auto;
  }
  .about-us .sobre-nosotros-texto {
    padding: 15px;
    font-size: 14px;
    max-width: 98%;
    text-align: center;
    margin: 10px;
  }
}
@media (max-width: 768px) {
  /*estilos para el index*/
  p {
    font-size: 1.5em;
  }
  .productos a {
    font-size: 1.5em;
  }
  .section-principal {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "foto" "video" "texto";
  }
  .section-principal .foto-mate {
    flex-direction: column;
  }
  .section-principal .foto-mate div {
    text-align: center;
    font-size: 18px;
    padding-left: 4%;
    padding-top: 5%;
  }
  .section-principal .foto-mate img {
    width: 45%;
    align-self: center;
    padding: 10px;
    background-color: #1a1a1a;
    border-radius: 10px;
  }
  .section-principal .video-mateando {
    padding: 5%;
  }
  /*estilos para la pagina de productos*/
  .productos {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "producto-1" "producto-2" "producto-3" "producto-4" "producto-5" "producto-6";
  }
  .titulo {
    font-size: 25px;
  }
  /*estilo para la pagina sobre-nosotros*/
  .about-us {
    gap: 15px;
  }
  .about-us .sobre-nosotros-img img {
    width: 80%;
  }
  .about-us .sobre-nosotros-texto {
    max-width: 98%;
  }
}
body {
  background-color: #1a1a1a;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

/*estilo del footer*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #F1D94F;
}
footer .logo {
  width: 50px;
  height: 45px;
  background-color: black;
  padding: 2px 2px;
  border-radius: 10px;
}

/* estilo del header y zona navegable de todos los html*/
header {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #F1D94F;
}
header .logo {
  width: 50px;
  height: 45px;
  background-color: black;
  padding: 2px 2px;
  border-radius: 10px;
}

.boton-compra {
  align-self: center;
  color: #1a1a1a;
  background-color: aquamarine;
  padding: 10px 8px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}
.boton-compra:hover {
  background-color: #808080;
}

.btn-secondary {
  --bs-btn-hover-color:#F1D94F;
  --bs-btn-color:#1a1a1a;
  --bs-btn-active-color:#F1D94F;
  --bs-btn-active-bg:#1a1a1a;
}

.logo-whatsapp {
  position: fixed;
  bottom: 35px;
  right: 45px;
  transition: 3s;
}
.logo-whatsapp img {
  width: 35px;
}
.logo-whatsapp:hover {
  transform: rotate(360deg) translateY(-35px);
}

/*# sourceMappingURL=styles.css.map */
