.boton-compra{
        align-self: center;
        color: #1a1a1a;
        background-color: aquamarine;
        padding: 10px 8px;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-decoration: none;

        &:hover {
            background-color:#808080;
        }
}
.btn-secondary{
    --bs-btn-hover-color:#F1D94F;
    --bs-btn-color:#1a1a1a;
    --bs-btn-active-color:#F1D94F;
    --bs-btn-active-bg:#1a1a1a;
}